<div id="content" align="left">

	<table id="words">
	<tr id="word_definition">

				<td class="scores_table">
					<h2>
						<span id="vote_score"> 
							Score: <%= word.votes.size %> 
						</span> <br/> <br/>
					  	By: <span><%= link_to (word.user.login), user_path(word.user) %></span>
					</h2> 
				</td>

				<td class="word_definition_body">				
					<h1><%= link_to word.word, word %></h1> <h2><i>(<%=word.language %>)</i> </h2> </br> 
					<p><%= word.definition.slice(0,255) %>...<%= link_to "More", word %> </p> 


					<% unless word.tag_list.empty? %>
						 <p class="tags">
							<%= render :partial => word.tags %>
						 </p> 
					<% end %>
				</td>

				<td class="photo_thumb">

				  <% if word.photo? %><%= image_tag word.photo.url(:thumb) %> <% end %>
				</td>

	</tr>
	</table>

</div>

