        <style type="text/css">
            /*<![CDATA[*/
            div.c3 {display: none;}
            div.c2 {text-align:left;font-size:20px;}
            div.c1 {text-align:left;font-size:20px;}
            /*]]>*/
        </style>

  <div class="c1">
	<% cache do %> 

                <center> <strong> <%= Word.count %> </strong>  <br/> <h1>Words added so far! </h1> </center> 

			<center> <strong> Popular Tags </strong> </center>
		             <hr width="250" />

	<% tag_cloud @tags, %w(css_class1 css_class2 css_class3 css_class4) do |tag, css_class| %> <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %> <% end %> 

	<% end %>
	<br/>
</div>


            <div class="c1">
		<center> <br/>
                   <strong> What is Leximo?</strong>
                </center>
            </div>
            <hr width="250" />

                <p>Leximo is a <strong>Multi-Lingual User Collaborated Dictionary</strong> that lets you search, discover and share your words with the World. Read the <%= link_to "Leximo Manifesto to learn more...", 'http://blog.leximo.org/2008/11/leximo-manifesto.html'%>
                </p>

            <hr width="250" />
            <div class="c1">

                <center>
                   <strong> Help spread the word</strong>
                </center>
            </div>

                <p>
                    Leximo is young and growing. Help us spread the revolution by sharing and telling your friends about Leximo's movement to redefine and revolutionize world dictionaries.
                </p>
<center>

	<script src="http://cdn.socialtwist.com/200811273764/script.js"></script><img style="border:0;padding:0;margin:0;" src="http://images.socialtwist.com/200811273764/button.png" onmouseout="hideHoverMap(this)" onmouseover="showHoverMap(this, '200811273764', window.location, document.title)" onclick="cw(this, {id:'200811273764',link: window.location, title: document.title })"/>

</center>
            <hr width="250" />


            <div class="c1">            
                <center>
                   <strong> Leximo Online</strong>
                </center>
            </div>
            <p>
                Follow and stay updated with us online.
            </p>
            <ul>
                <li>
                    <%= link_to 'Blog', 'http://blog.leximo.org' %>
                </li>

                <li>
                    <%= link_to 'Twitter', 'http://www.twitter.com/leximo' %>
                </li>
                <li>
                    <%= link_to 'Friendfeed', 'http://www.friendfeed.com/leximo' %>
                </li>
                <li>
                    <%= link_to 'Facebook', 'http://www.facebook.com/pages/Leximo/36236131408' %>
                </li>
                <li>
                    <%= link_to 'Linkedin', 'http://www.linkedin.com/in/leximo' %>
                </li>

            </ul>

            <center>Full list is here, <%= link_to 'Leximo on Social Media', 'http://blog.leximo.org/2008/11/leximo-on-social-media.html' %></center>
